.normal-form {
  margin: 10px 10px;
}
.controls-container {
  width: 100%;
  padding: 5%;
}
.fill-space {
  flex: 1 1 auto;
}
.controls-container > * {
  width: 100%;
}
.button-row button {
  margin: 5px;
}
