/* Add application styles & imports to this file! */
@import "@angular/material/prebuilt-themes/indigo-pink.css";

snack-bar-container.success {
  background-color: #5cb85c;
  color: #fff;
}

snack-bar-container.notification simple-snack-bar {
  font-size: 18px !important;
  font-weight: bold;
}
